AGENT_VLA_CONFIG=/home/czw1/ChenLong-Robot-Internship/agent_vla/configs/app.yaml
AGENT_API_HOST=127.0.0.1
AGENT_API_PORT=8010
VLA_SERVICE_HOST=127.0.0.1
VLA_SERVICE_PORT=8011
LLM_SERVICE_HOST=127.0.0.1
LLM_SERVICE_PORT=8012

